body {
  background-color: brown;
  text-align: center;
}

.pizzamaker {
  border:2px solid black;
  height: 90vh;
  width:80vw;
  border-radius: 50px;
  position: absolute;
  left:10vw;
  overflow: hidden;
}

#pizza {
  width: 500px;
  height:500px;
  border-radius: 250px;
  background-color: burlywood;
  border: 20px solid rgb(226, 205, 177);
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}

#control {
  background-color: burlywood;
  width: 100%;
  height:30vw;
  position: absolute;
  bottom: 0px;
  border-top: 20px solid rgb(226, 205, 177);
  display: flex;
}

#control>div {
  width:70vw;
}

#control>button {
  width:5vw;
  border: none;
  background-color: rgb(226, 205, 177);
}

#control>div>ul {
  display: flex;
  list-style: none;
  width: 100%;
  flex-wrap: wrap;
  padding-left: 5px;
}

#control>div>ul>li {
  flex-grow: 1;
  min-height: 60px;
  border:2px solid black;
  margin:5px;
  margin-left: 0;
  border-radius: 20px;
}

#control>div>ul>li:hover {
  position: relative;
  bottom:5px;
  right:5px;
  box-shadow: 5px 5px black;
}

#control>div>ul>li:active {
  position: relative;
  bottom:3px;
  right:3px;
  box-shadow: 3px 3px black; 
}
#cart {
  position: fixed;
  background-color: burlywood;
  width:85vw;
  height:90vh;
  left:7.75vw;
  top:5vh;
  border: 2px solid black;
  border-radius: 100px;
}


.hidden {
  display: none;
}