body {
  background-color: brown;
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


main{
  display: flex;
  flex-direction: column;
}

main button {
  width: 400px;
  height:180px;
  border-radius: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  outline: none;
  border:none;
}

main button:hover {
  position: relative;
  bottom:5px;
  right:5px;
}

.pizzamaker {
  border:2px solid black;
  min-height: 800px;
  height:90vh;
  width:80vw;
  border-radius: 50px;
  background-color:#a0522d;
  position: absolute;
  left:10vw;
  top:50px;
  overflow: hidden;
}

:root {
  --pizza-size: 540px;
  --pizza-size2: 500px;
  --pizza-crust: 20px;
  --crust-type: burlywood;
  --covering: burlywood;
  --cheese: url("");
  --topping: url("");
}

#completepizza {
  position: relative;
  width: var(--pizza-size);
  height:var(--pizza-size);
  top: 1000px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  transition: top 2s;
}

@keyframes rotate {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

.rotate {
  animation: rotate 2s;
}

#pizza {
  position: absolute;
  width: var(--pizza-size2);
  height:var(--pizza-size2);
  border-radius: var(--pizza-size2);
  background-color: var(--covering);
  border: var(--pizza-crust) solid var(--crust-type);
}

/* pizza styles and toppings */
#pizzaslice {
  position: absolute;
  width: var(--pizza-size);
  height:var(--pizza-size);
  background-image: url("../img/slice.svg");
  background-size:cover;
  z-index: 6;
}

#toppinghide {
  position: absolute;
  width: var(--pizza-size2);
  height:var(--pizza-size2);
  border:var(--pizza-crust) solid rgba(0, 0, 0, 0);
  border-radius: var(--pizza-size);
  overflow: hidden;
  z-index:5;
}

#pizzatoppings {
  position: absolute;
  width: var(--pizza-size2);
  height:var(--pizza-size2);
  background-image: var(--topping);
  background-size:cover;
  z-index: 4;
}

#pizzacheese {
  position: absolute;
  width: var(--pizza-size2);
  height:var(--pizza-size2);
  background-image: var(--cheese);
  background-size:cover;
  z-index: 3;
}



/* styling for pizza addition control panel ---------------------------- */
#control {
  background-color: burlywood;
  width: 100%;
  min-height:300px;
  height:30vh;
  position: absolute;
  bottom: 0px;
  border-top: 20px solid rgb(226, 205, 177);
  display: flex;
  z-index:10;
}

#control>div {
  width:70vw;
}

#control>button {
  width:5vw;
  border: none;
  background-color: rgb(226, 205, 177);
  outline: none;
  font-weight: 900;
  font-size: 50px;
  color:brown;
}

#control>div>ul {
  display: flex;
  list-style: none;
  width: 100%;
  flex-wrap: wrap;
  justify-content:center;
  padding-left: 5px;
}

#control>div>ul>li {
  border:2px solid black;
  width:100px;
  height:75px;
  margin:5px;
  margin-left: 0;
  border-radius: 20px;
  user-select: none;
  line-height: 25px;
  text-align: center;
}

#control>div>ul>li:hover {
  position: relative;
  bottom:5px;
  right:5px;
  box-shadow: 5px 5px black;
}

#control>div>ul>li:active {
  position: relative;
  bottom:3px;
  right:3px;
  box-shadow: 3px 3px black; 
}

.selected {
  background-color:cornflowerblue;
}


/* cart stylings ---------------------------- */

#cart {
  position: fixed;
  background-color: rgb(240, 223, 200);
  width:85vw;
  min-height: 500px;
  max-height: 90vh;
  left:7.75vw;
  top:5vh;
  border: 2px solid black;
  border-radius: 100px;
  overflow-x:hidden;
  overflow-y:scroll;
}

#cart::-webkit-scrollbar {
  display: none;
}

#cart h3 {
  border-top:3px solid black;
  width:100%;
}

#cart ul {
  text-align: left;
  list-style: none;
}

#cart>ul>li>ul {
  color: grey;
}

#cart>ul>li>ul>li {
  border-top:1px solid black;
  margin-right:30px;
}

.topcost {
  position: absolute;
  right:40px;
}

.itemAmount {
  position: absolute;
  right:0px;
  width: 100%;
  text-align: right;
  padding-right: 50px;
}

#cart>h3 {
  height:5px;
}

#cart button{
  font-size: 20px;
}

button#closeCart {
  width: 100%;
  border:none;
}

button#checkout {
  margin-top:20px;
  width:100%;
  height:100px;
  border:none;
}

#cart button:hover {
  background-color:lightgrey;
}

.hidden {
  display: none;
}